<?xml version="1.0"?>
<launch>

  <!-- Run Map Server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find e100_navigation)/maps/gaitech_office.yaml">
    <param name="frame_id" value="map"/>
  </node>
  
  <!-- Run AMCL -->
  <include file="$(find e100_navigation)/launch/include/amcl.launch"/>

  <!-- Run Move Base -->
  <include file="$(find e100_navigation)/launch/move_base.launch"/>

</launch>
