<?xml version="1.0"?>
<launch>



<!--if EKF is used Gmapping will use odom as its odom-frame , else use odom_laser-->


 <arg name="efk" default="$(env USE_EKF)"/>
  <group if="$(eval arg('efk')==true)">
    <include file="$(find e100_navigation)/launch/include/slam_gmapping_odom.launch.xml"/>
  </group>


  <group if="$(eval arg('efk')==false)">
    <include file="$(find e100_navigation)/launch/include/slam_gmapping_laser.launch.xml"/>
  </group>

</launch>
