<?xml version="1.0"?>
<launch>

  <!-- RIA-E100 base model -->
  <param name="robot_description" command="$(find xacro)xacro '$(find e100_description)/urdf/ria_e100.urdf.xacro'"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!--arg name="rviz_config" default="$(find e100_description)/launch/view.launch.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/-->

</launch>
